In [4]:
import pandas as pd

In [5]:
!pwd

/Users/danielaarias/Ironhack/Taller_API/Notebooks

In [6]:
data_a = pd.read_excel("../Data/Athletes.xlsx")

In [7]:
data_a.head()

                Name     NOC           Discipline
0    AALERUD Katrine  Norway         Cycling Road
1        ABAD Nestor   Spain  Artistic Gymnastics
2  ABAGNALE Giovanni   Italy               Rowing
3     ABALDE Alberto   Spain           Basketball
4      ABALDE Tamara   Spain           Basketball

In [ ]:
data_a.shape

In [ ]:
data_a.NOC.unique()

In [ ]:
NOC_Counts = data_a.NOC.value_counts()

In [ ]:
data_a.head()

In [ ]:
type(NOC_Counts)

In [ ]:
dict_noc = {}

In [ ]:
def orden(x):
    dict_noc = {}
    for key,values in dict_noc.items():
        if values < 10:
            return key
        else:
            'Others'

In [ ]:
data_a['NOC_Counts'] = data_a['NOC'].apply(orden)

In [ ]:
data_a.head()

In [10]:
def limpiar(x):
    list=['United States of America',
 "People's Republic of China",
 'Japan',
 'Great Britain',
 'ROC',
 'Australia',
 'Netherlands',
 'France',
 'Germany',
 'Italy',
 'Canada',
 'Brazil',
 'New Zealand',
 'Cuba',
 'Hungary',
 'Republic of Korea',
 'Poland',
 'Czech Republic',
 'Kenya',
 'Norway',
 'Jamaica',
 'Spain',
 'Sweden',
 'Switzerland',
 'Denmark',
 'Croatia',
 'Islamic Republic of Iran',
 'Serbia',
 'Belgium',
 'Bulgaria',
 'Slovenia',
 'Uzbekistan',
 'Georgia',
 'Chinese Taipei',
 'Turkey',
 'Greece',
 'Uganda',
 'Ecuador',
 'Israel',
 'Ireland',
 'Qatar',
 'Bahamas',
 'Kosovo',
 'Ukraine',
 'Belarus',
 'Venezuela',
 'Romania',
 'India',
 'Hong Kong, China',
 'Slovakia',
 'Philippines',
 'South Africa',
 'Austria',
 'Egypt',
 'Indonesia',
 'Portugal',
 'Ethiopia',
 'Tunisia',
 'Fiji',
 'Latvia',
 'Estonia',
 'Thailand',
 'Morocco',
 'Puerto Rico',
 'Bermuda',
 'Colombia',
 'Azerbaijan',
 'Dominican Republic',
 'Armenia',
 'Kyrgyzstan',
 'Mongolia',
 'San Marino',
 'Argentina',
 'Malaysia',
 'Nigeria',
 'Jordan',
 'Bahrain',
 'Saudi Arabia',
 'Lithuania',
 'North Macedonia',
 'Namibia',
 'Turkmenistan',
 'Kazakhstan',
 'Mexico',
 'Finland',
 'Republic of Moldova',
 'Grenada',
 'Ghana',
 'Burkina Faso',
 "CÃ´te d'Ivoire",
 'Botswana',
 'Kuwait',
 'Syrian Arab Republic']
    for i in list:
        if x != i:
            return 'Others'
        else:
            return x

In [11]:
data_a["NOC_new"] = data_a.NOC.apply(limpiar)

In [13]:
data_a.NOC_new.value_counts()

Others                      10470
United States of America      615
Name: NOC_new, dtype: int64