In [2]:
import pandas as pd

In [4]:
!pwd

/Users/danielaarias/Ironhack/Taller_API/Taller_API/Notebooks

In [9]:
data_a = pd.read_excel("../../archive/Athletes.xlsx")

In [11]:
data_a.head()

                Name     NOC           Discipline
0    AALERUD Katrine  Norway         Cycling Road
1        ABAD Nestor   Spain  Artistic Gymnastics
2  ABAGNALE Giovanni   Italy               Rowing
3     ABALDE Alberto   Spain           Basketball
4      ABALDE Tamara   Spain           Basketball

In [14]:
data_a.shape

(11085, 3)