In [3]:
import pandas as pd

In [4]:
!pwd

/Users/danielaarias/Ironhack/Taller_API/Notebooks

In [5]:
data_a = pd.read_excel("../Data/Athletes.xlsx")

In [6]:
data_a.head()

                Name     NOC           Discipline
0    AALERUD Katrine  Norway         Cycling Road
1        ABAD Nestor   Spain  Artistic Gymnastics
2  ABAGNALE Giovanni   Italy               Rowing
3     ABALDE Alberto   Spain           Basketball
4      ABALDE Tamara   Spain           Basketball

In [7]:
data_a.shape

(11085, 3)

In [13]:
#data_a.NOC.unique()

In [16]:
data_a['NOC_Counts'] = list(data_a.NOC.value_counts())

ValueError: Length of values (206) does not match length of index (11085)

In [17]:
data_a.head(20)

,Name,NOC,Discipline,NOC_Counts
0,AALERUD Katrine,Norway,Cycling Road,NaN
1,ABAD Nestor,Spain,Artistic Gymnastics,NaN
2,ABAGNALE Giovanni,Italy,Rowing,NaN
3,ABALDE Alberto,Spain,Basketball,NaN
4,ABALDE Tamara,Spain,Basketball,NaN
5,ABALO Luc,France,Handball,NaN
6,ABAROA Cesar,Chile,Rowing,NaN
7,ABASS Abobakr,Sudan,Swimming,NaN
8,ABBASALI Hamideh,Islamic Republic of Iran,Karate,NaN
9,ABBASOV Islam,Azerbaijan,Wrestling,NaN
10,ABBINGH Lois,Netherlands,Handball,NaN
11,ABBOT Emily,Australia,Rhythmic Gymnastics,NaN
12,ABBOTT Monica,United States of America,Baseball/Softball,NaN
13,ABDALLA Abubaker Haydar,Qatar,Athletics,NaN
14,ABDALLA Maryam,Egypt,Artistic Swimming,NaN
15,ABDALLAH Shahd,Egypt,Artistic Swimming,NaN
16,ABDALRASOOL Mohamed,Sudan,Judo,NaN
17,ABDEL LATIF Radwa,Egypt,Shooting,NaN
18,ABDEL RAZEK Samy,Egypt,Shooting,NaN
19,ABDELAZIZ Abdalla,Egypt,Karate,NaN

In [ ]:
type(NOC_Counts)

In [ ]:
dict_noc = {}

In [ ]:
def orden(x):
    dict_noc = {}
    for key,values in dict_noc.items():
        if values < 10:
            return key
        else:
            'Others'

In [ ]:
data_a['NOC_Counts'] = data_a['NOC'].apply(orden)

In [ ]:
data_a.head()

In [10]:
def limpiar(x):
    list=['United States of America',
 "People's Republic of China",
 'Japan',
 'Great Britain',
 'ROC',
 'Australia',
 'Netherlands',
 'France',
 'Germany',
 'Italy',
 'Canada',
 'Brazil',
 'New Zealand',
 'Cuba',
 'Hungary',
 'Republic of Korea',
 'Poland',
 'Czech Republic',
 'Kenya',
 'Norway',
 'Jamaica',
 'Spain',
 'Sweden',
 'Switzerland',
 'Denmark',
 'Croatia',
 'Islamic Republic of Iran',
 'Serbia',
 'Belgium',
 'Bulgaria',
 'Slovenia',
 'Uzbekistan',
 'Georgia',
 'Chinese Taipei',
 'Turkey',
 'Greece',
 'Uganda',
 'Ecuador',
 'Israel',
 'Ireland',
 'Qatar',
 'Bahamas',
 'Kosovo',
 'Ukraine',
 'Belarus',
 'Venezuela',
 'Romania',
 'India',
 'Hong Kong, China',
 'Slovakia',
 'Philippines',
 'South Africa',
 'Austria',
 'Egypt',
 'Indonesia',
 'Portugal',
 'Ethiopia',
 'Tunisia',
 'Fiji',
 'Latvia',
 'Estonia',
 'Thailand',
 'Morocco',
 'Puerto Rico',
 'Bermuda',
 'Colombia',
 'Azerbaijan',
 'Dominican Republic',
 'Armenia',
 'Kyrgyzstan',
 'Mongolia',
 'San Marino',
 'Argentina',
 'Malaysia',
 'Nigeria',
 'Jordan',
 'Bahrain',
 'Saudi Arabia',
 'Lithuania',
 'North Macedonia',
 'Namibia',
 'Turkmenistan',
 'Kazakhstan',
 'Mexico',
 'Finland',
 'Republic of Moldova',
 'Grenada',
 'Ghana',
 'Burkina Faso',
 "Côte d'Ivoire",
 'Botswana',
 'Kuwait',
 'Syrian Arab Republic']
    for i in list:
        if x != i:
            return 'Others'
        else:
            return x

In [11]:
data_a["NOC_new"] = data_a.NOC.apply(limpiar)

In [13]:
data_a.NOC_new.value_counts()

Others                      10470
United States of America      615
Name: NOC_new, dtype: int64