In [44]:
import requests
from bs4 import BeautifulSoup

In [45]:
import pandas as pd
import numpy as np

In [46]:
url = "https://olympics.com/en/olympic-games/tokyo-2020/medals"

In [47]:
html = requests.get(url)

In [48]:
html

In [49]:
soup = BeautifulSoup(html.content, "html.parser")

In [50]:
tabla = soup.find_all("div", {"class": "Tablestyles__CommonGrid-xjyvs9-1 Tablestyles__Content-xjyvs9-3 kSOeZM dzUKLb"})

In [51]:
#tabla

In [52]:
paises = soup.find_all("span",{"class":"styles__CountryName-sc-fehzzg-6 kFXANP"})

In [81]:
#paises

In [54]:
paises[1].getText()

"People's Republic of China"

In [55]:
lista_paises = []
for p in paises:
    lista_paises.append(p.getText())

In [83]:
#lista_paises

In [57]:
len(lista_paises)

93

In [58]:
medallas_oro = soup.find_all("span",{"class":"Medalstyles__Medal-sc-1tu6huk-1 oyScw"})

In [59]:
#medallas_oro

In [60]:
lista_oro = []
for p in medallas_oro:
    lista_oro.append(p.getText())

In [61]:
print(lista_oro)

['39', '38', '27', '22', '20', '17', '10', '10', '10', '10', '7', '7', '7', '7', '6', '6', '4', '4', '4', '4', '4', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1']

In [62]:
len(lista_oro)

65

In [63]:
medallas_plata = soup.find_all("span",{"class":"Medalstyles__Medal-sc-1tu6huk-1 lfKhON"})

In [64]:
#medallas_plata

In [65]:
lista_plata = []
for p in medallas_plata:
    lista_plata.append(p.getText())

In [66]:
print(lista_plata)

['41', '32', '14', '21', '28', '7', '12', '12', '11', '10', '6', '6', '6', '3', '7', '4', '5', '4', '4', '2', '1', '8', '6', '4', '4', '3', '2', '1', '1', '1', '1', '5', '4', '2', '1', '1', '1', '6', '3', '3', '3', '2', '2', '2', '2', '2', '1', '1', '1', '1', '1', '1', '4', '3', '3', '2', '2', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1']

In [67]:
len(lista_plata)

69

In [68]:
medallas_bronze = soup.find_all("span",{"class":"Medalstyles__Medal-sc-1tu6huk-1 gOpEiF"})

In [69]:
#medallas_bronze

In [70]:
lista_bronze = []
for p in medallas_bronze:
    lista_bronze.append(p.getText())

In [71]:
print(lista_bronze)

['33', '18', '17', '22', '23', '22', '14', '11', '16', '20', '11', '8', '7', '5', '7', '10', '5', '3', '2', '2', '4', '6', '6', '4', '2', '2', '5', '3', '2', '1', '2', '1', '6', '9', '1', '1', '2', '2', '1', '12', '3', '4', '3', '1', '1', '5', '4', '3', '2', '2', '1', '1', '1', '1', '1', '4', '2', '2', '1', '3', '2', '2', '1', '1', '1', '8', '4', '2', '1', '1', '1', '1', '1', '1', '1', '1']

In [72]:
len(lista_bronze)

76

In [73]:
diccionario = {"Paises": lista_paises, "Medallas_Oro":lista_oro, "Medallas_Plata":lista_plata, "Medallas_Bronze":lista_bronze}

In [74]:
print(len(lista_paises))
print(len(lista_oro))
print(len(lista_plata))
print(len(lista_bronze))

93
65
69
76

In [75]:
df = pd.DataFrame.from_dict(diccionario,orient='index')
df = df.transpose()

In [76]:
df.head()

                       Paises Medallas_Oro Medallas_Plata Medallas_Bronze
0    United States of America           39             41              33
1  People's Republic of China           38             32              18
2                       Japan           27             14              17
3               Great Britain           22             21              22
4                         ROC           20             28              23

In [77]:
df.sample()

         Paises Medallas_Oro Medallas_Plata Medallas_Bronze
63  Puerto Rico            1              1               1

In [79]:
df.to_csv('../Data/scrapping.csv')