In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
import pandas as pd
import numpy as np

In [3]:
url = "https://olympics.com/en/olympic-games/tokyo-2020/medals"

In [4]:
html = requests.get(url)

In [5]:
html

In [6]:
soup = BeautifulSoup(html.content, "html.parser")

In [7]:
tabla = soup.find_all("div", {"class": "Tablestyles__CommonGrid-xjyvs9-1 Tablestyles__Content-xjyvs9-3 kSOeZM dzUKLb"})

In [8]:
#tabla

In [9]:
paises = soup.find_all("span",{"class":"styles__CountryName-sc-fehzzg-6 kFXANP"})

In [10]:
#paises

In [11]:
paises[1].getText()

"People's Republic of China"

In [12]:
lista_paises = []
for p in paises:
    lista_paises.append(p.getText())

In [13]:
#lista_paises

In [14]:
len(lista_paises)

93

In [15]:
medallas_oro = soup.find_all("span",{"class":"Medalstyles__Medal-sc-1tu6huk-1 oyScw"})

In [16]:
#medallas_oro

In [17]:
lista_oro = []
for p in medallas_oro:
    lista_oro.append(p.getText())

In [18]:
print(lista_oro)

['39', '38', '27', '22', '20', '17', '10', '10', '10', '10', '7', '7', '7', '7', '6', '6', '4', '4', '4', '4', '4', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1']

In [19]:
len(lista_oro)

65

In [20]:
medallas_plata = soup.find_all("span",{"class":"Medalstyles__Medal-sc-1tu6huk-1 lfKhON"})

In [21]:
#medallas_plata

In [22]:
lista_plata = []
for p in medallas_plata:
    lista_plata.append(p.getText())

In [23]:
print(lista_plata)

['41', '32', '14', '21', '28', '7', '12', '12', '11', '10', '6', '6', '6', '3', '7', '4', '5', '4', '4', '2', '1', '8', '6', '4', '4', '3', '2', '1', '1', '1', '1', '5', '4', '2', '1', '1', '1', '6', '3', '3', '3', '2', '2', '2', '2', '2', '1', '1', '1', '1', '1', '1', '4', '3', '3', '2', '2', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1']

In [24]:
len(lista_plata)

69

In [25]:
medallas_bronze = soup.find_all("span",{"class":"Medalstyles__Medal-sc-1tu6huk-1 gOpEiF"})

In [26]:
#medallas_bronze

In [34]:
lista_bronze = []
for p in medallas_bronze:
    lista_bronze.append(p.getText())

In [35]:
print(lista_bronze)

['33', '18', '17', '22', '23', '22', '14', '11', '16', '20', '11', '8', '7', '5', '7', '10', '5', '3', '2', '2', '4', '6', '6', '4', '2', '2', '5', '3', '2', '1', '2', '1', '6', '9', '1', '1', '2', '2', '1', '12', '3', '4', '3', '1', '1', '5', '4', '3', '2', '2', '1', '1', '1', '1', '1', '4', '2', '2', '1', '3', '2', '2', '1', '1', '1', '8', '4', '2', '1', '1', '1', '1', '1', '1', '1', '1']

In [36]:
len(lista_bronze)

76

In [37]:
diccionario = {"Paises": lista_paises, "Medallas_Oro":lista_oro, "Medallas_Plata":lista_plata, "Medallas_Bronze":lista_bronze}

In [38]:
print(len(lista_paises))
print(len(lista_oro))
print(len(lista_plata))
print(len(lista_bronze))

93
65
69
76

In [39]:
df = pd.DataFrame.from_dict(diccionario,orient='index')
df = df.transpose()

In [40]:
df.head()

                       Paises Medallas_Oro Medallas_Plata Medallas_Bronze
0    United States of America           39             41              33
1  People's Republic of China           38             32              18
2                       Japan           27             14              17
3               Great Britain           22             21              22
4                         ROC           20             28              23

In [41]:
df.sample()

        Paises Medallas_Oro Medallas_Plata Medallas_Bronze
6  Netherlands           10             12              14